<html lang="en" ng-app="odds" class="no-js">
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
<script src="node_modules/angular-websocket/angular-websocket.js"></script>
<script>
    angular.module('odds', [
        'ngWebSocket' // you may also use 'angular-websocket' if you prefer
    ])
    //                          WebSocket works as well
        .factory('socket', function(){
            //Creating connection with server
            var socket = io.connect('http://localhost:3000/admins');
            socket.on('connect', function(){

            });
            return socket;

        })
        .controller('SomeController', function ($scope, socket ) {
            $scope.MyData = {collection:['lola','tsitso']};
            $scope.socket = socket;
            $scope.socket.on('message', function (data) {
                $scope.MyData.collection.push(data);
                console.log(data);
                $scope.$apply();
            })
        });
</script>

<section ng-controller="SomeController">
    <ul ng-repeat="data in MyData.collection track by $index" >
        <li> {{ data }} </li>
    </ul>
</section>
</html>